.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  height: 100px;
}

.whitenav {
  background-color: white !important;
}

.navbar {
  padding: 1.2rem !important;
}

.avatar {
  height: 200px;
  border-radius: 50%;
}

.avatar-part {
  margin-top: 32px;
  margin-bottom: 32px;
}

.first_title {
  font-weight: 600;
  font-style: normal;
  font-size: 60px;
  color: #141c3a;
  margin-bottom: 24px;
  font-family: 'Do Hyeon';
}

.second_title {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 1.5rem !important;
  color: #141c3a;
  margin-bottom: 24px;
}

.navbar-nav .nav-item {
  color: #141c3a !important;
  font-family: 'Open Sans' !important;
  font-weight: 400;
  font-size: 18px;
}

.bp {
  border-width: 2px !important;
  font-weight: 400 !important; 
  font-size: 18px !important;
  color: #4d90fe !important;
  border-color: #4d90fe !important;
}

.bp:hover {
  border-width: 2px !important;
  font-weight: 400 !important; 
  font-size: 18px !important;
  color:  white!important;
  border-color: #4d90fe !important;
  background-color: #4d90fe !important;
}

